* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.padreIndex {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
    grid-template-rows: repeat(3, 1fr); /* Tres filas iguales */
    gap: 2px; /* Espacio reducido entre los elementos */
    padding: 0; /* Elimina el padding general */
    flex-grow: 1;
}

.grid-item {
    border: 1px solid #ccc;
    text-align: center;
    font-size: 16px; /* Tamaño de fuente aún más pequeño */
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.grid-item img {
    width: 100%;
    height: auto; /* Asegura que la imagen mantenga sus proporciones */
    object-fit: cover;
    display: block;
}

.item1a, .item1b, .item3a, .item3b {
    border: 2px solid black; /* Borde más delgado */
    min-height: 120px; /* Altura mínima reducida */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.item2 {
    border: 2px solid black;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    min-height: 100px; /* Altura mínima reducida aún más */
    margin: 0;
    padding: 0;
}
