/* Contenedor principal */
.contendorExterior {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Contenedor interior */
.contendorInterior {
    width: 30%;
    background-color: rgba(0, 0, 0, 0.225);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    color: white;
}

/* Estilo para labels */
.estilo1 {
    display: block; /* Asegura que el label ocupe toda la línea */
    margin-bottom: 5px; /* Espacio entre el label y el input */
    color: white;
}

/* Estilo para todos los inputs */
.estilo2 {
    width: 100%; /* Ajusta el ancho del input al 75% */
    padding: 10px;
    box-sizing: border-box;
    font-size: 1rem;
    display: inline-block;
}

/* Contenedor del botón de mostrar/ocultar contraseña */
.estilo3 {
    width: 40px;
    height: 40px;
    padding: 5px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;
}

/* Estilo para el icono */
.estilo3 i {
    width: 20px;
    height: 20px;
    font-size: inherit;
    line-height: 1;
    vertical-align: middle;
}

/* Contenedor que alinea el input de contraseña y el botón */
.input-container {
    display: flex;
    align-items: center;
    position: relative; /* Asegura que el botón se posicione correctamente */
}

/* Contenedor del input con el botón de mostrar/ocultar */
.input-container input {
    width: 85%; /* Mantiene el ancho fijo del input */
}

/* Asegura que el botón no afecte el ancho del input */
.input-container button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.botondesubmit {
    padding: 10px;
    display: flex; 
    justify-content: center;
}

.registrate{
    color: black;
    display: flex;
    margin-top: -15px;
    margin-left: 80%;
}

 a:visited {
    color: black; /* Color del enlace después de hacer clic */
}

 a:hover {
    color: black; /* Mantén el color negro cuando pasas el ratón por encima */
}

 a:active {
    color: black; /* Color durante el clic */
}