.containerNosotros {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinea el contenido hacia arriba */
    align-items: center; /* Centra horizontalmente */
    background-color: bisque;
    height: 100vh; /* O bien puedes usar un valor fijo en píxeles si prefieres */
    padding-top: 20px; /* Ajusta el margen superior si es necesario */
  }
  
  .hijoNosotros {
    background-color: white;
    width: 60%; /* Ajusta el ancho según necesites */
    padding: 20px; /* Añade padding si es necesario */
    margin-top: 100px; /* Mueve el contenedor hijo hacia arriba */
    text-align: center; /* Centra el texto horizontalmente */
  }