{% extends './layaut.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block customCSS%}
<link rel="stylesheet" href="{% static 'css/grid.css' %}">
<link href="{% static 'images/home_icon.ico' %}" rel="icon" type="image/x-icon" />


{% endblock %}

{% block body %}
<div class="padreIndex">

    <h1>Prueba de contenido</h1>
    <p>prueba2</p>
    <div class="grid-container">
        <div class="grid-item item1a">1a</div>
        <div class="grid-item item1b">1b</div>
        <div class="grid-item item2">2</div>
        <div class="grid-item item3a">3a</div>
        <div class="grid-item item3b">3b</div>

    </div>
    <p>prueba</p>
</div>
<div class="prueba">
    <h2>hola</h2>
</div>

{% block CustomJS %}

{% endblock %}


{% endblock %}