{% extends './layaut.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{% static 'css/grid.css' %}">
<link href="{% static 'images/home_icon.ico' %}" rel="icon" type="image/x-icon" />
{% endblock %}

{% block body %}
<div class="padreIndex">
    <div class="cajaTexto">
      <p>¿Qué esperas para levantarte o cambiar tu vida? No me 
        digas que siempre te sientes mal o cuando te dicen "¿por qué no 
        cambias tu vida?".<br> Así como ves esta imagen de fondo, así están 
        tu cuerpo, tu alma y tu mente. Pero mira, no eres el único  
        en estar así, y sí, te diré <br> estas palabras: puedes cambiar. 
        Muy cliché, lo sé, pero primero tienes que aceptar ayuda.
      </p>
    </div>
    <div class="gota"></div>
    <div class="gota"></div>
    <div class="gota"></div>
    <div class="gota"></div>
</div>


{% block CustomJS %}
{% endblock %}
{% endblock %}
