{% extends './layaut.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block customCSS%}
<link rel="stylesheet" href="{% static 'css/LoginCSS.css' %}">
<link href="{% static 'images/imagen_Login.ico' %}" rel="icon" type="image/x-icon" />
{% endblock %}

{% block body %}
<div class="contendorExterior" id="contendorExterior">
    <div class="contendorInterior" id="contendorInterior">

        <form action="" method="post">
            {% csrf_token %}
            <div>
                <input type="email" name="email" id="email">
                <label for="email">Inicio de sesion</label>
            </div>

            <div>
                <input type="password" name="password" id="password">
                <label for="password">Contrasella</label>
            </div>
            <!--
            <div>
                <input type="password" name="repetirPassword" id="repetirPassword">
                <label for="repetirPassword">Repetir Contrasella</label>
            </div>-->

            <div>
                <button type="submit">Login</button>
            </div>
        </form>


    </div>
</div>

{% block CustomJS %}

{% endblock %}


{% endblock %}