{% extends './layaut.html' %}
{% load static %}

{% block title %}Nosotros{% endblock %}

{% block customCSS%}
<link rel="stylesheet" href="{% static 'css/nosotros.css' %}">
<link href="{% static 'images/imagen_Nosotros.ico' %}" rel="icon" type="image/x-icon" />

{% endblock %}

{% block body %}
<div class="containerNosotros">
    <h1>Nosotros</h1>
    
    <div class="hijoNosotros">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Doloribus iste id nisi alias ipsum a minus dolore. </p>
    </div>

   

</div>

{% block CustomJS %}

{% endblock %}


{% endblock %}