{% extends './layaut.html' %}
{% load static %}

{% block title %}Nosotros{% endblock %}

{% block customCSS%}
<link rel="stylesheet" href="{% static 'css/nosotros.css' %}">
<link href="{% static 'images/imagen_Nosotros.ico' %}" rel="icon" type="image/x-icon" />

{% endblock %}

{% block body %}
<div class="containerNosotros">
    <h1>Por que de esta pagina?</h1>
   
    
    <div class="hijoNosotros">
        <p>
            Esta página es más como una práctica de aprendizaje e implementación de lo que estoy aprendiendo y aprenderé sobre JavaScript y Django. 
            Sin embargo, la verdad es que eso no importa tanto; realmente quiero que este pequeño proyecto ayude a personas que tengan problemas, 
            más enfocado en los vicios, la depresión o conductas antisociales.
            <br><br>
            En cuanto a cómo quiere ayudar esta página, más adelante, cuando esté más desarrollado, mi idea es crear un bot que responda de manera personalizada 
            a las preguntas que hagan los usuarios. El bot podrá contestar de acuerdo a cómo lo configure.
            <br><br>
            Por el momento, se implementará la creación de preguntas con respuestas personalizadas o respuestas predeterminadas. 
            Al principio, el objetivo será avanzar hacia la creación de un chatbot más avanzado.
        </p>
        
    </div>

   

</div>

{% block CustomJS %}

{% endblock %}


{% endblock %}