{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prueba</title>
    <link rel="stylesheet" href="{% static 'css/LoginCSS.css' %}">
</head>
<body>

    <div class="contendorExterior" id="contendorExterior">
    <div class="contendorInterior" id="contendorInterior">

        <form action="" method="get">
            <div>
                <input type="email" name="email" id="email">
                <label for="email">Inicio de sesion</label>
            </div>

            <div>
                <input type="password" name="password" id="password">
                <label for="password">Contrasella</label>
            </div>

            <div>
                <input type="password" name="repetirPassword" id="repetirPassword">
                <label for="repetirPassword">Repetir Contrasella</label>
            </div>

            <div>
                <button type="submit">Login</button>
            </div>
        </form>


    </div>
</div>

    
</body>
</html>