{% extends './layaut.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block customCSS%}
<link rel="stylesheet" href="{% static 'css/LoginCSS.css' %}">
<link href="{% static 'images/imagen_Login.ico' %}" rel="icon" type="image/x-icon" />
{% endblock %}

{% block body %}
<div class="contendorExterior" id="contendorExterior">
    <div class="contendorInterior" id="contendorInterior">

        <form action="" method="post">
            {% csrf_token %}

            <div class="form-group">
                <label class="estilo1" for="Registro">Registro</label>
            </div>

            <div class="form-group">
                <label class="estilo1" for="email">Correo electronico:</label>
                <input class="estilo2" type="email" name="email" id="email">
            </div>
            <div id="error"></div>
            <div class="form-group">
                <label class="estilo1" for="password">Contraseña:</label>
                <div class="input-container">
                    <input class="estilo2" type="password" name="password" id="password">
                    <button class="btn-sm btn-light estilo3" type="button" onclick="mostrarOcultarContrasena(event)">
                        <span id="iconoMostrarOcultar"><i class="fas fa-eye"></i></span>
                    </button>
                </div>
            </div>
 <!-- otra solucion pero quedo con la mia <button class="btn-sm btn-light estilo3" type="button" onclick="mostrarOcultarContrasena(event, 'password', 'iconoMostrarOcultar')">-->
            <div>
                <label class="estilo1" for="password">repetir contraseña:</label>
                <div class="input-container">
                    <input class="estilo2" type="password" id="repetirPassword">
                    
                    <button class="btn-sm btn-light estilo3" type="button" onclick="mostrarOcultarContrasena2(event)">
                        <span id="iconoMostrarOcultar2"><i class="fas fa-eye"></i></span>
                    </button>
                </div>
            </div>
            <div id="miDiv"></div> 

            <div class="botondesubmit">
                <button class="btn-sm btn-light" type="submit">Login</button>
            </div>


        </form>

    </div>
</div>


{% block CustomJS %}
<script src="{% static 'js/visualizarPassword.js'%}"></script>
<script src="{% static 'js/validaciones.js' %}"></script>
{% endblock %}


{% endblock %}